{# Automatically extends the right outer layout and also handles AJAX siutations #}
{% extends data.outerLayout %}

{# Imports #}
{% import 'apostrophe-favicons:faviconMacros.html' as favicons %}
{% import 'apostrophe-palette-widgets:macros.html' as palette %}

{# Page Title depends on variables above #}
{% if data.piece %}
  {% if data.piece.seoTitle %}
    {% set title = data.piece.seoTitle %}
  {% else %}
    {% set title = data.piece.title %}
  {% endif %}
{% else %}
  {% if data.page.seoTitle %}
    {% set title = data.page.seoTitle %}
  {% else %}
    {% set title = data.page.title %}
  {% endif %}
{% endif %}

{# Actual Title #}
{% block title %}{{ title }}{% endblock %}

{% block extraHead %}

  <meta charset="UTF-8">
  <meta name="theme-color" content="{{ data.global.navColor }}">

  {# Palette #}
  {{ palette.stylesheetLink(data.global) }}
  {{ palette.stylesheetTag() }}

  {# Includes #}
  {% include "apostrophe-pages:extraHead.html" %}
  {% include "apostrophe-seo:view.html" %}
  {% include "apostrophe-open-graph:view.html" %}

  {# Favicons #}
  {{ favicons.renderLinks(apos, data.global) }}

{% endblock %}

{% block beforeMain %}

  {# Inject Apostrophe Palette #}
  {% if data.user %}
    {{ palette.palette(data.global, 'palette') }}
  {% endif %}

  {# Navigation #}
  <div class="nav-content">
    {{ apos.area(data.page, 'navigationArea', {
      limit: 1,
      widgets: {
        'navigations': {
          homeUrl: data.home._url,
          homeTitle: data.home.title,
          homeChildren: data.home._children,
          pageUrl: data.page._url,
          pageType: data.page.type,
          items: data.page.sectionArea.items[0] or data.pieces.length,
          pieces: data.page.sectionArea.items[0]._pieces or data.pieces,
          addLabel: 'Add Navigation',
          editLabel: 'Change Navigation',
          controls: {
            movable: false,
            cloneable: false,
            removable: true,
            position: 'top-left'
          }
        }
      }
    }) }}
  </div>
{% endblock %}

{% block main %}
  {#
    Usually, your page templates in the apostrophe-pages module will override
    this block. It is safe to assume this is where your page-specific content
    should go.
  #}
{% endblock %}

{% block afterMain %}
{% set lastPiece = data.options.pieces[data.options.pieces.length - 1] %}
  {# Footer #}
  <div class="footer-content">
    {{ apos.area(data.page, 'footerArea', {
      limit: 1,
      widgets: {
        'footer': {
          homeUrl: data.home._url,
          homeTitle: data.home.title,
          homeChildren: data.home._children,
          pieces: data.page.sectionArea.items[0]._pieces,
          addLabel: 'Add Footer',
          editLabel: 'Change Footer',
          controls: {
            movable: false,
            removable: true,
            position: 'bottom-right'
          }
        }
      }
    }) }}
  </div>

  {# Contact Button #}
  {% if data.global.floatingActionButton.items[0] and not data.page.hideContactButton %}
    {{ apos.area(data.global, 'floatingActionButton', {
      edit: false,
      widgets: {
        'button': {}
      }
    }) }}
  {% endif %}

{% endblock %}
