//Add Fullpage Sections minimal height
.fp-auto-height {
  min-height: 500px;
  padding-bottom: 0;
}
//Lazy loading for additional sections
.section:not(:first-child) {
	visibility: hidden;
	opacity: 0;
}
.section:not(:first-child).in {
	visibility: visible;
	opacity: 1;
}
