@import "utils/reset.less";
// Main stuff
.main-content {
    .login-link {
      float: right;
      color: @apos-white;
    }
    .apos-peek {
      opacity: 1;
    }
}
.apos-dropdown-items {
  max-width: inherit!important;
}
.apos-dropdown-item {
  float: left;
}
