@import "utils/reset.less";
// Main stuff
.main-content {
    .login-link {
      float: right;
      color: @apos-white;
    }
    .apos-peek {
      opacity: 1;
    }
}
.apos-dropdown-items {
  max-width: inherit!important;
}
.apos-dropdown-item {
  float: left;
}
html, body {
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
}
//Sections Height
.section {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  padding-top: 0;
  padding-bottom: 0;
}
//Header
 .header {
   position: absolute;
   text-align: center;
   width: 100%;
   top: 10vh;
 }
//Footer
.section:nth-child(6n+5) {
  height: 52vh;
}
@media(max-width: 500px) {
  .section:nth-child(6n+5) {
    height: 64vh;
  }
}
